#!/bin/sh

xinput set-prop 'ELAN1201:00 04F3:3098 Touchpad' 'libinput Tapping Enabled' 1
xinput set-prop 'ELAN1201:00 04F3:3098 Touchpad' 'libinput Natural Scrolling Enabled' 1
dunst &
xmodmap ~/.config/xmodmap/xmodmaprc
sxhkd &
xrdb -merge ~/.Xresources
xrandr --output eDP-1 --mode 2560x1440 --dpi 144
xwallpaper --zoom ~/Pictures/wallpaper
~/bin/set_bar &
# redshift -O 5500
# pulseaudio --start --daemonize=no --log-target=journal &
systemctl --user import-environment DISPLAY
systemctl --user start clipmenud
bluetoothctl power on
bluetoothctl connect F8:4E:17:0B:23:64 &
