! do not scroll with output
URxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! when using secondary screen (like less), use it's scroll buffer instead of urxvt's
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! font
URxvt.font: xft:monospace:size=10:antialias=true:minspace=false, xft:DejaVu Sans:size=8

! reduce spacing
URxvt.letterSpace: 0

! disable printing via lpr
URxvt.print-pipe: "cat > /dev/null"

! perl extensions
URxvt.perl-ext-common: clipboard,default,matcher,url-select,resize-font

! copying
URxvt.clipboard.autocopy: false
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! open urls with mousebutton
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! open urls with keyboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! disable default bindings that interfere with font scaling
URxvt.iso14755: false
URxvt.iso14755_52: false

! URxvt appearance
URxvt.background: [70]#171A1F
URxvt.foreground: #ebdbb2
URxvt.scrollBar: off

! ! colors
! ! black
! *color0:  #251f1f
! *color8:  #5e5e5e
! ! red
! *color1:  #fb5519
! *color9:  #fb5519
! ! green
! *color2:  #94e76b
! *color10: #95e76b
! ! yellow
! *color3:  #ffd666
! *color11: #ffd666
! ! blue
! *color4:  #46aede
! *color12: #46aede
! ! magenta
! *color5:  #f7838f
! *color13: #f7838f
! ! cyan
! *color6:  #4a8c86
! *color14: #4a8c86
! ! white
! *color7:  #efefef
! *color15: #efefef

! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
 
! ctrl + left/right keys
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! padding
URxvt.internalBorder: 20

! transparency
URxvt.depth: 32

! for irssi
rxvt.modifier: alt
