$brand_txt_color: #50586d;
$txt-muted: #a1a1a1;

$brand-blue: #46c3ff;
$brand-dark-blue: #20a8f1;
$brand-blue-bg: #ddf4ff;

$border-color: #e6e8e9;
$carrier-green: #00d700;
$carrier-gray: #d7d7d7;

$popup-height: 550px;
// $popup-width: 350px;
$popup-width: 308px;
